/**
 * Created by VJLau.
 * Date: 2018/1/17
 */

.weui-whitespace {
  display: block;
  clear: both;

  .weui-whitespace-xs {
    height: 3px;
  }

  .weui-whitespace-sm {
    height: 6px;
  }

  .weui-whitespace-md {
    height: 9px;
  }

  .weui-whitespace-lg {
    height: 15px;
  }

  .weui-whitespace-xl {
    height: 21px;
  }
}