<!DOCTYPE html>
<html>
<head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
</head>

<body ontouchstart>
    <div class="weui-tab">
        <div class="weui-tab__panel">
            <div class="weui-tab__panel">
                <div class="weui-my-center">
                    <div class="weui-media-box weui-media-box_appmsg weui-my-center__left">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb"
                                 src="https://gitee.com/uploads/14/82314_vjlau.jpg?1434699983" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title weui-my-center__user__name" style="">张小明</h4>
                            <p class="weui-my-center__user__status">等级：普通会员</p>
                            <p class="weui-my-center__user__flow">积分：<em>560</em></p>
                        </div>
                    </div>
                    <div class="weui-my-center__menu weui-flex">
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>987</em>
                                <p>余额</p>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>10</em>
                                <p>优惠券</p>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>4</em>
                                <p>收藏</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weui-whitespace weui-whitespace__sm"></div>

                <div class="weui-my-center">
                    <div class="weui-my-center__center">
                        <img class="weui-my-center__radius"
                             src="https://gitee.com/uploads/14/82314_vjlau.jpg?1434699983" alt="">
                        <h4 class="weui-media-box__title weui-my-center__user__name" style="">张小明</h4>
                    </div>
                    <div class="weui-my-center__menu weui-flex">
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>987</em>
                                <p>余额</p>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>10</em>
                                <p>优惠券</p>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="weui-my-center__menu__item">
                                <em>4</em>
                                <p>收藏</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weui-cells__title">信息设置</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <i class="iconfont icon-order weui-color__primary"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>预约记录</p>
                        </div>
                        <div class="weui-cell__ft">5</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <i class="iconfont icon-password weui-color__primary"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>修改密码</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd">
                            <i class="iconfont icon-logout weui-color__primary"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>退出登录</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>

                <div class="weui-whitespace weui-whitespace__xl"></div>
            </div>
        </div>

        <div class="weui-tabbar">
            <a href="index.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-zhixing"></i>
                </div>
                <p class="weui-tabbar__label">知行</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-account"></i>
                </div>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>

    <style>
    </style>
    <% include _foot.html %>
    <script>
    </script>
</body>
</html>
